<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="clientId" value="AYhBUzbrUZObLU-C33AGwzNUx7khYqQX2OtmpJHGAUzWZs9iH5PvuzQ7jj5Xukb94jbey7NLVpZfC66r"/>
		<add key="clientSecret" value="EOAxomtmtZuxpNc_ArGSjSNoikMfH7lAPU9oyIdReFWE5JmnNsMLcxwV370hnitXp88O8pfSc_Zp5Ogh"/>
	</appSettings>
</configuration>